:root {
  --bg-color: #eeeeee;
  --screen-color: #dddddd;
  --border-color: #000000;
  --btn-color:  #828588;
  --btn-hover-color: #686b6e;
  --btn-alt-color: #d62d0f;
  --btn-alt-hover-color: #e93010;
  --font-color: #000000;
  --font-alt-color: #ffffff;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  background-color: var(--bg-color);
}

h1 {
  font-size: 4rem;
}

p {
  font-size: 1.8rem;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.Calculator {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  margin: auto;
  width: 400px;
}

.display {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
  border-bottom: 1px solid var(--border-color);
}

.displaySide {
  width: 100%;
  font-size: 5rem;
  height: 80px;
  border: none;
  background-color: var(--screen-color);
  color: var(--font-color);
  text-align: center;
  
}

.displayMain {
  width: 100%;
  font-size: 5rem;
  height: 80px;
  border: none;
  background-color: var(--screen-color);
  color: var(--font-color);
  text-align: right;
  padding-right: 10px;
  padding-left: 10px;
}

button {
  height: 60px;
  background-color: var(--btn-color);
  border-radius: 3px;
  border: 1px solid var(--border-color);
  font-size: 2rem;
  color: var(--font-color);
}

button:active {
  background-color: var(--btn-hover-color);
}

.allClear {
  background-color: var(--btn-alt-color);
  color: var(--font-alt-color);
}

.allClear:active {
  background-color: var(--btn-alt-hover-color);
  color: var(--font-alt-color);
}

.clear {
  background-color: var(--btn-alt-color);
  color: var(--font-alt-color);
}

.clear:active {
  background-color: var(--btn-alt-hover-color);
  color: var(--font-alt-color);
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
}