:root {
  --bg-color: #eeeeee;
  --screen-color: #dddddd;
  --border-color: #000000;
  --btn-color:  #686b6e;
  --btn-alt-color: #d62d0f;
  --btn-hover-color: #262729;
  --font-color: #000000;
  --font-alt-color: #ffffff;
}

html {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-color);
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
